.dc-button {
    border: 1px solid #ddd;
    padding: 15px;
}

.dc-button.full-width {
    width: 100%;
}

.dc-button-label {
    width: 100%;
    display:inline;
    white-space:nowrap

}

.dc-button-icon-right {
    float: right;
    margin-left: 8px;
}

.dc-button-icon-left {
    float: left;
    margin-right: 8px;
}

