<router-outlet></router-outlet>

<dc-card cardTitle="Advanced Card" class="special-card">
  <ng-template #header> sddsdsd </ng-template>
  sddsdsds content
  <ng-template #footer>
    <button>dssdddssd</button> <button>dssdddssd</button>
  </ng-template>
</dc-card>
<br />

<dc-card cardTitle="Advanced Card">
  sddsdsds content
  <ng-template #footer>
    <button>dssdddssd</button>
  </ng-template>
</dc-card>
<br />
<dc-card cardTitle="Advanced Card">
  <ng-template #footer>
  </ng-template>
  
  <dc-card cardTitle="Advanced Card 2">
    dsdddds
    <ng-template #footer>
      <button>dssdddssd</button> <button>dssdddssd</button>
    </ng-template></dc-card
  >
</dc-card>
