<router-outlet></router-outlet>

<dc-card  class="special-card">
  <ng-template #header>
    <h1>ddsfddfs</h1>
  </ng-template>
  <ng-template #footer>
    <button>dssdddssd</button> <button>dssdddssd</button>
  </ng-template>
</dc-card>
<br />

<dc-card cardTitle="Advanced Card">
  sddsdsds content
  <ng-template #footer>
    <button>dssdddssd</button>
  </ng-template>
</dc-card>
<br />
<dc-card cardTitle="Advanced Card">
  <ng-template #footer>
  </ng-template>
  
  <dc-card cardTitle="Advanced Card 2">
    dsdddds
    <ng-template #footer>
      <button>dssdddssd</button> <button>dssdddssd</button>
    </ng-template></dc-card
  >
</dc-card>

<br>
<dc-message cardTitle="Advanced message" color="alert">
  sddsdsds content
  <ng-template #footer>
    <button>dssdddssd</button>
  </ng-template>
</dc-message>

<dc-message cardTitle="Advanced message" color="">
  sddsdsds content
  <ng-template #footer>
    <button>dssdddssd</button>
  </ng-template>
</dc-message>