@import '../../styles';

.dc-button {
    border: 0px solid #ddd;
    font-family: $dcui-font-family;
    font-size: $dcui-typography-paragraph-size;
    padding: 0px $dcui-grid-size-2;
    background: $dcui-color-core-brand-primary;
    position: relative;
    border-radius: 2px;
    height: $dcui-grid-size-5;
    line-height: $dcui-grid-size-5;
    border: 1px solid $dcui-color-core-brand-primary;
    color: $dcui-color-core-global-white;
}


.dc-button svg{
    fill: $dcui-color-core-global-white;
}

.dc-button:hover {
    background-color: $dcui-color-core-global-white;
    color: $dcui-color-core-brand-primary;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 6px;
    z-index: 2;
}


.dc-button:hover svg{
    fill: $dcui-color-core-brand-primary;
}


.dc-button.full-width {
    width: 100%;
}


.dc-button-label {
    width: 100%;
    display:inline;
    white-space:nowrap;
}


.dc-button-icon-right {
    float: right;
    margin-left: 8px;
}


.dc-button-icon-left {
    float: left;
    margin-right: 8px;
}