
$dcui-transition-state-default-duration: 0.2s !default;
$dcui-transition-state-default-easing: ease-in-out !default;
$dcui-transition-state-active-duration: 0.05s !default;
$dcui-transition-state-active-easing: cubic-bezier(0.45, 0, 0.55, 1) !default;
$dcui-transition-modal-to-visible-duration: 0.4s !default;
$dcui-transition-modal-to-visible-easing: cubic-bezier(0.33, 0.1, 0.68, 1) !default;
$dcui-transition-modal-to-hidden-duration: 0.4s !default;
$dcui-transition-modal-to-hidden-easing: cubic-bezier(0.32, 0, 0.67, 0) !default;
$dcui-color-core-global-white: #ffffff !default;
$dcui-color-core-global-black: #000000 !default;
$dcui-color-core-global-foreground: #000000 !default;
$dcui-color-core-global-foreground-on: #ffffff !default;
$dcui-color-core-global-background: #ffffff !default;
$dcui-color-core-global-background-on: #000000 !default;
$dcui-color-core-transparent-black-50: rgba(0, 0, 0, 0.5) !default;
$dcui-color-core-transparent-black-2: rgba(0, 0, 0, 0.02) !default;
$dcui-color-core-brand-dark: #a61121 !default;
$dcui-color-core-brand-dark-on: #ffffff !default;
$dcui-color-core-brand-primary: #d7172f !default;
$dcui-color-core-brand-primary-on: #ffffff !default;
$dcui-color-core-brand-light: #ef6577 !default;
$dcui-color-core-brand-light-on: #000000 !default;
$dcui-color-core-brand-pale: #fce0e4 !default;
$dcui-color-core-brand-pale-on: #000000 !default;
$dcui-color-core-neutral-dark: #53565a !default;
$dcui-color-core-neutral-dark-on: #ffffff !default;
$dcui-color-core-neutral-primary: #97999b !default;
$dcui-color-core-neutral-primary-on: #000000 !default;
$dcui-color-core-neutral-light: #c8c9c7 !default;
$dcui-color-core-neutral-light-on: #000000 !default;
$dcui-color-core-neutral-pale: #e6e6e6 !default;
$dcui-color-core-neutral-pale-on: #000000 !default;
$dcui-color-core-neutral-offwhite: #f5f5f5 !default;
$dcui-color-core-neutral-offwhite-on: #000000 !default;
$dcui-color-core-success-dark: #639522 !default;
$dcui-color-core-success-dark-on: #000000 !default;
$dcui-color-core-success-primary: #85c72e !default;
$dcui-color-core-success-primary-on: #000000 !default;
$dcui-color-core-success-light: #c1e396 !default;
$dcui-color-core-success-light-on: #000000 !default;
$dcui-color-core-success-pale: #e0f1cb !default;
$dcui-color-core-success-pale-on: #000000 !default;
$dcui-color-core-alert-dark: #be9925 !default;
$dcui-color-core-alert-dark-on: #000000 !default;
$dcui-color-core-alert-primary: #fecd32 !default;
$dcui-color-core-alert-primary-on: #000000 !default;
$dcui-color-core-alert-light: #fee698 !default;
$dcui-color-core-alert-light-on: #000000 !default;
$dcui-color-core-alert-pale: #fff3cc !default;
$dcui-color-core-alert-pale-on: #000000 !default;
$dcui-color-extended-blue-dark: #181fbb !default;
$dcui-color-extended-blue-dark-on: #ffffff !default;
$dcui-color-extended-blue-medium: #757ae9 !default;
$dcui-color-extended-blue-medium-on: #000000 !default;
$dcui-color-extended-blue-light: #ced0ff !default;
$dcui-color-extended-blue-light-on: #000000 !default;
$dcui-color-extended-aqua-dark: #037783 !default;
$dcui-color-extended-aqua-dark-on: #ffffff !default;
$dcui-color-extended-aqua-medium: #00bdd0 !default;
$dcui-color-extended-aqua-medium-on: #000000 !default;
$dcui-color-extended-aqua-light: #9af4fd !default;
$dcui-color-extended-aqua-light-on: #000000 !default;
$dcui-color-extended-pink-dark: #b2005b !default;
$dcui-color-extended-pink-dark-on: #ffffff !default;
$dcui-color-extended-pink-medium: #dd5c9e !default;
$dcui-color-extended-pink-medium-on: #000000 !default;
$dcui-color-extended-pink-light: #fac9e2 !default;
$dcui-color-extended-pink-light-on: #000000 !default;
$dcui-color-extended-orange-dark: #ad4100 !default;
$dcui-color-extended-orange-dark-on: #ffffff !default;
$dcui-color-extended-orange-medium: #f47930 !default;
$dcui-color-extended-orange-medium-on: #000000 !default;
$dcui-color-extended-orange-light: #ffd4ba !default;
$dcui-color-extended-orange-light-on: #000000 !default;
$dcui-color-qc-pass-bg: #e0f1cb !default;
$dcui-color-qc-pass-on: #000000 !default;
$dcui-color-qc-fail-bg: #e6e6e6 !default;
$dcui-color-qc-fail-on: #51524f !default;
$dcui-grid-size-1: 0.5rem !default;
$dcui-grid-size-2: 1rem !default;
$dcui-grid-size-3: 1.5rem !default;
$dcui-grid-size-4: 2rem !default;
$dcui-grid-size-5: 2.5rem !default;
$dcui-grid-size-6: 3rem !default;
$dcui-grid-size-7: 3.5rem !default;
$dcui-grid-size-8: 4rem !default;
$dcui-grid-size-9: 4.5rem !default;
$dcui-grid-size-10: 5rem !default;
$dcui-grid-size-0-5: 0.25rem !default;
$dcui-grid-size-1-5: 0.75rem !default;
$dcui-icons-size-xs: 0.875rem !default;
$dcui-icons-size-s: 1.063rem !default;
$dcui-icons-size-base: 1.25rem !default;
$dcui-icons-size-l: 1.563rem !default;
$dcui-icons-size-xl: 1.688rem !default;
$dcui-icons-size-2xl: 2rem !default;
$dcui-icons-size-3xl: 2.313rem !default;
$dcui-icons-size-4xl: 3rem !default;
$dcui-icons-size-5xl: 3.938rem !default;
$dcui-icons-size-6xl: 5.125rem !default;
$dcui-shadows-elevation-high-x: 0 !default;
$dcui-shadows-elevation-high-y: 5px !default;
$dcui-shadows-elevation-high-blur: 9px !default;
$dcui-shadows-elevation-high-opacity: 0.4 !default;
$dcui-shadows-elevation-low-x: 0 !default;
$dcui-shadows-elevation-low-y: 3px !default;
$dcui-shadows-elevation-low-blur: 7px !default;
$dcui-shadows-elevation-low-opacity: 0.2 !default;
$dcui-shadows-color-neutral: #53565a !default;
$dcui-shadows-color-brand: #a61121 !default;
$dcui-surface-color-base: #ffffff !default;
$dcui-surface-color-divided: #e6e6e6 !default;
$dcui-surface-corner: 1px !default;
$dcui-surface-gap: 0.25rem !default;
$dcui-font-weight-bold: 700 !default;
$dcui-font-weight-regular: 300 !default;
$dcui-font-family: 'Roboto', Arial, sans-serif !default;
$dcui-type-scale-xs-size: 0.694rem !default;
$dcui-type-scale-xs-line-height: 1.5 !default;
$dcui-type-scale-s-size: 0.833rem !default;
$dcui-type-scale-s-line-height: 1.5 !default;
$dcui-type-scale-base-size: 1rem !default;
$dcui-type-scale-base-line-height: 1.5 !default;
$dcui-type-scale-l-size: 1.2rem !default;
$dcui-type-scale-l-line-height: 1.5 !default;
$dcui-type-scale-xl-size: 1.44rem !default;
$dcui-type-scale-xl-line-height: 1.5 !default;
$dcui-type-scale-2xl-size: 1.728rem !default;
$dcui-type-scale-2xl-line-height: 1.4 !default;
$dcui-type-scale-3xl-size: 2.074rem !default;
$dcui-type-scale-3xl-line-height: 1.4 !default;
$dcui-type-scale-4xl-size: 2.488rem !default;
$dcui-type-scale-4xl-line-height: 1.3 !default;
$dcui-type-scale-5xl-size: 2.986rem !default;
$dcui-type-scale-5xl-line-height: 1.2 !default;
$dcui-type-scale-6xl-size: 3.583rem !default;
$dcui-type-scale-6xl-line-height: 1.1 !default;
$dcui-typography-title-size: 3.583rem !default;
$dcui-typography-title-line-height: 1.1 !default;
$dcui-typography-title-weight: 300 !default;
$dcui-typography-title-style: normal !default;
$dcui-typography-heading-primary-size: 2.074rem !default;
$dcui-typography-heading-primary-line-height: 1.4 !default;
$dcui-typography-heading-primary-weight: 300 !default;
$dcui-typography-heading-primary-style: normal !default;
$dcui-typography-heading-secondary-size: 1.44rem !default;
$dcui-typography-heading-secondary-line-height: 1.5 !default;
$dcui-typography-heading-secondary-weight: 700 !default;
$dcui-typography-heading-secondary-style: normal !default;
$dcui-typography-heading-tertiary-size: 1.2rem !default;
$dcui-typography-heading-tertiary-line-height: 1.5 !default;
$dcui-typography-heading-tertiary-weight: 700 !default;
$dcui-typography-heading-tertiary-style: normal !default;
$dcui-typography-paragraph-size: 1rem !default;
$dcui-typography-paragraph-line-height: 1.5 !default;
$dcui-typography-paragraph-weight: 300 !default;
$dcui-typography-paragraph-style: normal !default;
$dcui-typography-small-copy-size: 0.833rem !default;
$dcui-typography-small-copy-line-height: 1.5 !default;
$dcui-typography-small-copy-weight: 300 !default;
$dcui-typography-small-copy-style: normal !default;
$dcui-typography-caption-size: 0.833rem !default;
$dcui-typography-caption-line-height: 1.5 !default;
$dcui-typography-caption-weight: 300 !default;
$dcui-typography-caption-style: italic !default;
$dcui-typography-small-label-size: 0.694rem !default;
$dcui-typography-small-label-line-height: 1.5 !default;
$dcui-typography-small-label-weight: 700 !default;
$dcui-typography-small-label-style: normal !default;